{% extends 'layout.html.twig' %}

{% block title %}Wild Circus{% endblock %}

{% block body %}
    <h1>Wild circus</h1>
    <img src="{{ asset('build/circus-home.webp') }}" alt="Wild circus">
{% endblock %}
