{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
<div class=" formDiv d-flex justify-content-center">
    {{ form_start(form) }}
    <h2 class="formTitle">Réservez vos places : </h2>
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center">
        <button class="btn btn-turquoise">{{ button_label|default('Valider') }}</button>
    </div>
    {{ form_end(form) }}
</div>
