{% extends 'layout.html.twig' %}

{% block title %}Modifier réservation{% endblock %}

{% block body %}
    <h1>Modifier réservation</h1>
    {{ include('booking/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="d-flex justify-content-around">
        <a class="btn btn-turquoise" href="{{ path('admin_booking_index') }}">retourner à la liste des réservations</a>
        {{ include('booking/_delete_form.html.twig') }}
    </div>
{% endblock %}
