{% extends 'layout.html.twig' %}

{% block title %}Nouveau numéro{% endblock %}

{% block body %}
    <h1>Créer un nouveau numéro</h1>

    {{ include('act/_form.html.twig') }}

    <a class="btn btn-turquoise mt-4" href="{{ path('admin_act_index') }}">retourner à la liste des numéros</a>
{% endblock %}
